.c  { 
	border-top: 1px solid #222a38;
	background: #1b1e24;
	border-color: #1b1e24;
	padding: 8px 16px; 
	border-radius: 4px; 
	text-shadow: rgba(0,0,0,.4) 0 1px 0; 
	color: #fafafa; 
	font-size: 16px; 
	font-family: "Roboto", helvetica, arial, sans-serif;
	text-decoration: none; 
	vertical-align: middle;
} 

.c:hover { 
	border-color: #4E5066;
	background: #4E5066; 

} 

.c:active { 
	border-color: #5f64a3;
	background: #5f64a3; 
}

body {
  background-color: #cacde3;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  margin-top: -20px;
}

div.table-title {
  margin: auto;
  padding:0px;
  table-layout: fixed;
  width: 80%;
}

.table-title h1 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
   padding-left: 133px;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding: 10px 20px;
  width: 80%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  word-break: break-all;
}
 
th {
  color:#D5DDE5;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding: 20px 40px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#ccceed;
  color:#666B85;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#ccceed;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:10px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: center;
  word-break: normal;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.warning {
color: red;
}

.right{
float: right;
}

.center{
float: center;
}

.answer_good {
	color: #1b1e24;
	font-family: "Roboto", helvetica, arial, sans-serif;
	font-size:20px;
	text-align: center;
}

.answer_bad {
	color: red;
	font-family: "Roboto", helvetica, arial, sans-serif;
	font-size:20px;
	text-align: center;
}